<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>OLMC email signatures</title>

    <link rel="icon" href="https://images.squarespace-cdn.com/content/v1/5bc38c36704680460b8feb31/1539542641893-47L9SWG51P35MROEYL3F/ke17ZwdGBToddI8pDm48kLypUocwEfnpHWZcC07qiUdZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7SlM6NErJyIg8_rFLci03bkgIr4w934Kbq3d-N953u9mB6HNcKFEkJTaJdt7nzEY_Q/favicon.ico"/>

    <script src="copy.js"></script>
</head>
<body>
    <h1>OLMC email signatures</h1>
    <p>
        <a target="_blank" style="text-decoration: underline !important; color: #0000ff !important" href="https://docs.google.com/spreadsheets/d/1TNdrRXbBd68A0IXy2UlxOiYTpdtt1i01gDIVgqxoXwc/edit#gid=0">Edit the Google Sheet to update below.</a>
    </p>

    <main>
        {{body}}
    </main>

    <style type="text/css">
        main {
            width: 420px;
            margin: 0 auto;
        }
        .signature-container {
            position: relative;
            padding: 22px;
        }
        button {
            display: inline-block;
            position: absolute;
            top: 22px;
            right: 0;
            padding: 6px;
            width: 72px;
            height: 66px;
        }
        button.copied {
            background-color: #99ff99;
        }
    </style>
</body>