
<style type="text/css">
    img {outline:none;text-decoration:none;border:none;}
    p {margin:0px !important;}
    a[href] {color:inherit !important;text-decoration:none !important;}
    @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700');
</style>

<table width="320" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="top" style="padding-bottom: 5px;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td width="105" valign="center">
                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;">
                                                <img src="https://blueberry-sprout-342c.squarespace.com/assets/email-sig-template/images/logo02.png" width="105" height="98" alt="logo" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="text-align: center;" width="14">&nbsp;</td>
                                <td width="1" valign="center">
                                    <table width="1" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td width="1" bgcolor="#EACD7A"><img src="https://blueberry-sprout-342c.squarespace.com/assets/email-sig-template/images/spacer.gif" width="1" height="115" alt=""/></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            <td style="text-align: center;" width="14">&nbsp;</td>
                            <td width="180" valign="center">
                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="font-family: garamond, 'Cormorant Garamond', serif; font-size:14px; line-height:14px; font-weight:400; color:#C51130; padding-bottom: 5px;">
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-family: garamond, 'Cormorant Garamond', serif; font-size:16px; line-height:18px; font-weight:700; color:#201E57;">{{name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family: garamond, 'Cormorant Garamond', serif; font-size:15px; line-height:20px; font-weight:700; color:#666666;">{{grade}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family: garamond, 'Cormorant Garamond', serif; font-size:15px; line-height:20px; font-weight:700; color:#666666;">{{title}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family: garamond, 'Cormorant Garamond', serif; font-size:14px; line-height:14px; font-weight:400; color:#647875;">
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td width="20"><img src="https://blueberry-sprout-342c.squarespace.com/assets/email-sig-template/images/location.png" width="11" height="11" alt=""/></td>
                                                            <td style="font-family: garamond, 'Cormorant Garamond', serif; font-size:14px; line-height:16px; padding-bottom: 2px; font-weight:400; color:#666666;">205 Oak Street  <br> Boonton, NJ 07005</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20"><img src="https://blueberry-sprout-342c.squarespace.com/assets/email-sig-template/images/phone.png" width="11" height="11" alt=""/></td>
                                                            <td style="font-family: garamond, 'Cormorant Garamond', serif; font-size:14px; line-height:20px; font-weight:400; color:#666666;"><a href="tel:(973) 334-2777">(973) 334-2777</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20"><img src="https://blueberry-sprout-342c.squarespace.com/assets/email-sig-template/images/email.png" width="11" height="11" alt=""/></td>
                                                            <td style="font-family: garamond, 'Cormorant Garamond', serif; font-size:14px; line-height:20px; font-weight:400; color:#666666;"><a href="mailto:{{email}}">{{email}}</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" style="padding: 8px 0px 5px 20px; border-top: 1px solid #EACD7A;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td width="63"><a href="mailto:school@olmcboonton.org"><img src="https://blueberry-sprout-342c.squarespace.com/assets/email-sig-template/images/mail.png" width="20" height="20" alt="mail"></a></td>
                            <td width="63"><a href="http://www.olmc.academy/" target="_blank"><img src="https://blueberry-sprout-342c.squarespace.com/assets/email-sig-template/images/website.png" width="20" height="20" alt="website"></a></td>
                            <td width="63"><a href="https://www.facebook.com/olmcschool1863/" target="_blank"><img src="https://blueberry-sprout-342c.squarespace.com/assets/email-sig-template/images/facebook.png" width="20" height="20" alt="facebook"></a></td>
                            <td width="63"><a href="https://twitter.com/olmcschool1863" target="_blank"><img src="https://blueberry-sprout-342c.squarespace.com/assets/email-sig-template/images/twitter.png" width="20" height="20" alt="twitter"></a></td>
                            <td width="30"><a href="https://www.instagram.com/olmcschool1863/" target="_blank"><img src="https://blueberry-sprout-342c.squarespace.com/assets/email-sig-template/images/instagram.png" width="20" height="20" alt="instagram"></a></td>
                        </tr>
                    </tbody>
              </table>
            </td>
        </tr>
    </tbody>
</table>